body{
    background-color: #964b00;
    color: black;
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "secu prin prin"
    "roda roda roda"
    ;
}   

.cabecalho{
    display: grid;
    justify-content: center;
    margin: left 5%;
    align-items: center;
}



.principal{
    display: grid;
}

.scundaria{
    display: grid;

}

.rodape{
    display: grid;
    color: white;
    height: 100px;
    position: relative;
    background-image: liner-gradient( to right, black, white );
}


.menu{
    display: inline;
    position: relative;
    padding-left: 20px;
    font-size: large;

}



.superior{
    color:black;
    border: 3px solid whitesmoke;
    padding: 4px 8px;
    background-color: #783c00;
    transition: 3ms;
    border-radius: 7px;
}

